@use '../variables';

.button {
    padding: 16px 24px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    &--canceled {
        text-decoration: line-through;
        cursor: not-allowed;
    }


    &--primary {
        background-color: variables.$purple;
        color: variables.$grey;
    }

    @media (max-width: 640px) {
        display: block;
    }

    @media (max-width: 1024px) {
        display: block;
        font-size: 16px;
    }
}