@use 'variables';
@use 'hero';
@use './components/infos_bar';
@use './components/buttons';
@use 'event';
@use 'menu';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

@mixin title($fontSize: 42px) {
    font-family: 'Pacifico', cursive;
    font-size: $fontSize;
}

.title {
    @include title
}

.title--small {
    @include title(36px);
}

@mixin text ($fontSize: 24px) {
    font-size: $fontSize;
}

.text {
    @include text;
}

.text--small {
    @include text(18px);
}

.bg-section {
    background-color: variables.$grey;
    width: 100%;
}

@media (max-width: 640px) {
    .title {
        @include title(32px)
    }
    
    .title--small {
        @include title(24px);
    }
    
    .text {
        @include text(22px);
    }
    
    .text--small {
        @include text(16px);
    }
}